body {
    background-color: var(--background-50);
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

/* Scrollbar Design */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--background-50); }
::-webkit-scrollbar-thumb { background: var(--primary-300); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--primary-500); }